body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(0deg, #1b1b1b -0.06%, #3c4147 99.94%);
}
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Espacio entre el logo/nombre y el menú */
}
.logo img {
    height: 40px; /* Ajusta la altura del logo según sea necesario */
    margin-right: 10px; /* Espacio entre el logo y el nombre */
}

nav {
    display: flex;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: underline;
}
.social-icons {
    display: flex;
}
.social-icons a {
    color: white;
    margin-left: 15px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Estilos para el banner */
.banner {
    background-size: cover;
    position: relative; /* Establece el contenedor como relativo */
    text-align: center; /* Centra el texto dentro del contenedor */
}

.banner img {  
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}


.overlay {
    position: absolute; /* Posiciona el texto de manera absoluta */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar completamente */
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 20px; /* Espaciado interno alrededor del texto */
    border-radius: 10px; /* Bordes redondeados opcionales */
}


main {
    padding: 20px;
}



#seccion1, #seccion2, #seccion3, #seccion4{
    color:white
}

/* Estilos para la sección 1 */
.button-container {
    display: flex; /* Habilita Flexbox para alinear los botones horizontalmente */
    justify-content: space-around; /* Espacio entre los botones */
    margin: 0px; /* Margen alrededor del contenedor */
    flex: 1;
}

.custom-button {
    position: relative; /* Establece el contenedor como relativo */
    background-color: transparent; /* Color de fondo inicial */
    border: none; /* Sin borde */
    padding: 0; /* Elimina el espaciado interno para usar Flexbox */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    flex: 1; /* Permite que ambos botones ocupen el mismo espacio */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves para cambios de color y transformación */
}

.custom-button:hover {
    background-color: #c51f27; /* Color de fondo al hacer hover */
    transform: translateY(-5px); /* Eleva el botón ligeramente hacia arriba */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar un efecto de profundidad */
}

.button-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del botón */
    height: auto; /* Mantiene la proporción de la imagen */
}

.button-text {
    position: absolute; /* Posiciona el texto de manera absoluta */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar completamente */
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 10px; /* Espaciado interno alrededor del texto */
    transition: background-color 0.3s ease; /* Transición suave para el fondo del texto */
}

.custom-button:hover .button-text {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro al hacer hover sobre el botón */
}


#btn1 {
    margin-right:10px;
}

#btn2 {
    margin-left:10px;
}




/* Estilos para los rectángulos verticales en sección 1 */
.rectangulos-verticales {
    display: flex; 
    flex-direction: row; /* Coloca los elementos en fila */
    flex: 1;
}

.rectangulo-vertical {
    position: relative;
    border: 0px;
    background-color: transparent; /* Color de fondo inicial */
    color: white; /* Color del texto */
    padding: 0px; /* Espaciado interno */
    flex: 1; 
    cursor: pointer;
    margin: 10px 5px; /* Margen entre los rectángulos verticales */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.rectangulo-vertical:hover {
    background-color: #c51f27; /* Color de fondo al hacer hover */
    transform: translateY(-5px); /* Eleva el rectángulo ligeramente hacia arriba */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar un efecto de profundidad */
}

.rectangulo-vertical:first-child {
    margin-left: 0px;
}

.rectangulo-vertical:last-child {
    margin-right: 0px;
}




/* Estilos para la sección 2 */

.rectangulos-seccion2 {
    display: flex; 
    width: 100%;
}

.rectangulo-nuevo {             
    background-color: #4CAF50; 
    color: white; 
    padding: 20px; 
    flex: 1; 
    margin-right: 10px; 
}

.rectangulo-nuevo:last-child {
    margin-right: 0; 
}

.rectangulos-verticales-2{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.rectangulo-vertical-2{
    border: 0px;
    background-color: #9ba3aa; /* Color de fondo diferente para distinguir */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    flex: 1; 
    margin: 0px; /* Margen superior entre los rectángulos verticales */
}

.rectangulo-vertical-2:last-child{
    margin-top: 5px;
}

/* Estilos para la sección 3 */
.cuadrados-seccion3 {
   display: flex; 
   justify-content: space-between; 
}

.cuadrado {
   background-color: #FF5722; 
   color: white; 
   width: 30%; 
   padding: 20px; 
   text-align: center; 
   box-sizing: border-box; 
}

/* Estilos para la sección 4 */
.rectangulos-seccion4 {
   display: flex; 
   justify-content: space-between; 
   margin-top: 20px; 
}

.c2{
    margin:0px 10px;
}

.rectangulo-nuevo-4 {
   background-color: #673AB7; 
   color: white;
   padding: 20px;
   flex: 1;
}

.rectangulo-nuevo-4:last-child{
    margin-right: 0px;
}

.rectangulo-nuevo-4:first-child{
    margin-left: 0px;
}





#openModalBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.modal-overlay {
    display: none; /* Oculta el cuadro de diálogo por defecto */
    position: fixed; /* Fija la posición en la pantalla */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa toda la altura */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.modal-content {
    background-color: white; /* Color de fondo del contenido */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    width: 75%; /* Ancho del cuadro de diálogo */
    max-width: 90%; /* Ancho máximo */
}


